/* -------------------- GENERAL -------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(243, 242, 206);
}
html {
    scroll-behavior: smooth; /* Smooth scrolling for nav links */
}
section {
    display: block; /* Make all sections visible */
    padding: 40px 20px;
}

/* -------------------- NAVBAR -------------------- */
.navbar{
    width: 100%;
    height: 60px;
}
nav a:hover{
    cursor:pointer;
    background-color: #7385eb;
    padding: 5px;
    border-radius: 5px;
}
/* -------------------- BUTTONS -------------------- */

/* -------------------- HERO SECTION -------------------- */
.hero {
    /*background-color: rgb(135, 206, 235);*/
    background-image: url('/uploads/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.show-profile{
    width: 100%;
    
}
.tutor-details{
    width: 250px;
    box-shadow: 4px 4px 8px sandybrown;
    background-color: rgb(218, 239, 169);

}
.tutor-details{
    width: 250px;
}
.tutor-img{
    width: 100%;
    height: 250px;
}
